aiohttp
aiosignal
async-timeout
asyncio
attrs
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
click
cryptography
Deprecated
disnake
Flask
frozenlist
geographiclib
geopy
id
idna
itsdangerous
Jinja2
MarkupSafe
multidict
numpy
pycparser
pydantic
PyGithub
PyJWT
PyNaCl
requests
scipy
soupsieve
topggpy
typing_extensions
topggpy
urllib3
Werkzeug
wrapt
yarl
lxml