aiohttp
aiosignal
async-timeout
asyncio
attrs
beautifulsoup4
blinker
bs4
certifi
cffi
charset-normalizer
click
colorama
cryptography
Deprecated
discord.py
disnake
frozenlist
geographiclib
geopy
idna
itsdangerous
Jinja2
lxml
MarkupSafe
multidict
pycparser
PyGithub
PyJWT
PyNaCl
requests
soupsieve
topggpy
urllib3
Werkzeug
wrapt
yarl
